.quiz-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.prompt-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#prompt-question {
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 2rem;
	line-height: 1;
}

.prompt-res {
	margin-bottom: 2rem;
	background-color: #224229;
	padding: 1rem;
	color: white;
	width: 300px;
}

.prompt-res:hover {
	transform: scale(1.1);
	background-color: black;
}

.results-wrapper {
	border: 1px solid black;
}
.results-text {
	flex: 1;
	text-align: left;
}
