.results-container {
	text-align: center;
}

.resultsText-col {
	flex: 1 1;
	height: inherit;
}

.resultsImg-col {
	flex: 1 1;
	height: 100vh;
	margin-top: -40px !important;
	margin-bottom: 0px !important;
}
