/* HOMEPAGE */

.jumbotron {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75vh;
	margin-top: -35px;
	margin-left: -35px;
	margin-right: -35px;
	color: black;
}

.jumbo-content {
	flex: 1;
	align-self: flex-end;
	color: black;
}

.jumbo-content h1 {
	padding: 0px;
}

.jumbo-content p {
	font-size: 22px;
}

.jumbo-content .btn {
	font-size: 1rem;
	text-transform: capitalize;
	background-color: #4bab84;
}

.jumbo-content .btn:hover {
	background-color: black;
}
